.about{
    background-color:var(--lightest);
    margin:1em;
    display:flex;
}
.about * {
    width:90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
}
.about_title{
    background-color:var(--lighter);
    transition: .3s cubic-bezier(.3, 0, 1, 1);
}
.about:hover .about_title{
    background-color:var(--darkest);
    color: var(--lightest);
}