.header{
    background-color:var(--lightest);
    color:var(--darkest);
    display:flex;
    align-items:center;
    justify-content:center;
    margin:1em;
}
.header_title{
    
}
.header_image{
    object-fit: contain;
}