
.navbar{
    background-color:var(--lightest);
    padding: .5rem;
    margin:1rem;
}
.navbar_top{
    position:sticky;
    display:flex;
    align-items: center;
    justify-content:space-around;
}
.navbar_top a:hover{
    background-color: var(--lighter);
}
.navbar_top_link{
    text-decoration: none;
    color:var(--darkest);
    font-size: 1.5rem;
    font-weight: 600;
}
.navbar_top_open{
    color:var(--darkest);
    font-size: 1.5rem;
    font-weight: 600;
    cursor:pointer;
}
.navbar_content{
    height:0;
    background-color: var(--lightest);
    position:relative;
    display: none;
}
.navbar_content_close{
    border:none;
    color:var(--darkest);
    background-color: var(--lighter);
}
.show_navbar{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.navbar_content_link {
    text-decoration: none;
    color:var(--darkest);
}