
.navbar{
    background-color:var(--lightest);
    margin:1em;
}
.navbar_top{
    display:none;
    align-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    justify-content:space-around;
}
.show_navbar_top{
    display:flex;
}
.navbar_top_link{
    flex-grow: 1;
    margin:0;
    padding:0;
    text-decoration: none;
    color:var(--darkest);
    font-size: 1.5rem;
    font-weight: 600;
    cursor:pointer;
    transition: .3s cubic-bezier(.3, 0, 1, 1);
}
.navbar_top_link:hover{
    background-color: var(--darkest);
    color:var(--lightest);
}
.navbar_content{
    height:0;
    background-color: var(--lightest);
    display: none;
}
.navbar_content_close, .navbar_content_logout{
    margin:0;
    font-size: 1.5rem;
    font-weight: 600;
    transition: .3s cubic-bezier(.3, 0, 1, 1);
}
.show_navbar{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
}
.navbar_content_link {
    margin:0;
    padding:0;
    text-decoration: none;
    color:var(--darkest);
    transition: .3s cubic-bezier(.3, 0, 1, 1);
    font-size: 1.5em;
}
.navbar_content_link:hover{ 
  -webkit-text-decoration: var(--darkest) solid underline;
  text-decoration: var(--darkest) solid underline;
  -webkit-text-underline-position: under;
  text-underline-position: under;
}
.navbar_list{
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content:space-around;
}
.navbar_list_list{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content:space-around;
}
.navbar_name{
    padding-bottom:1rem;
    font-size:1.5em;
}
